$breakpoint: 480px;
$white-color: #eee;
$black-background-color: #1E1E1E;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: $white-color;
    background: $black-background-color;
  }
  footer {
    background-color: $white-color;
  }
}

.holidays {
  height: auto;
  width: 100%;

  &__container {
    height: 100%;
    width: 100%;
    &--title {
      font-size: 50px;
      font-weight: bold;
      padding: 40px 0;
      text-align: center;
    }
    &--image {
      display: grid;
      justify-items: center;
    }
    &--emoji {
      font-size: 180px;
      text-align: center;
    }
    &--message {
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      padding: 35px 20px 10px;
    }
  }

  @media (max-width: $breakpoint) {
    &__container {
      &--title {
        font-size: 35px;
        padding: 20px;
      }
      &--image {
        padding: 20px;
      }
      &--message {
        font-size: 35px;
        padding: 0;
      }
    }
  }
}
